{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Readings</th>
                    <th>Last seen</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for node in sensor_nodes %}
                <tr>
                    <td>{{ node.name }}</td>
                    <td>{{ node.reading_types|length }}</td>
                    <td>{{ node.last_seen_at }}</td>
                    <td class=""><a href=""><i class="fa fa-pencil"></i></a> <a href=""><i style="color: red" class="fa fa-trash"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock%}