<html>
    <head>
        <title>Sensor API</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content=""/><meta name="author" content=""/>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet"/>
        <script src="{{ url_for('static', filename='js/jquery-2.2.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('admin.index') }}">Sensor API</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    {% if current_user.is_authenticated %}
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('admin.nodes') }}">Nodes</a></li>
                    </ul>
                    {% endif %}
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi {{ current_user.email }}!</a>
                            <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                                <li><a href="{{ url_for('admin.logout') }}">Logout</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li><a href="{{ url_for('admin.register') }}">Sign Up</a></li>
                        <li class="dropdown">
                            <a href="{{ url_for('admin.login') }}" class="dropdown-toggle" data-toggle="dropdown">Sign in <b class="caret"></b></a>
                            <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                                <li>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form class="form" role="form" method="post" action="{{ url_for('admin.login') }}" accept-charset="UTF-8" id="login-nav">
                                                {{ g_form_login.hidden_tag() }}
                                                <div class="form-group">
                                                    <label class="sr-only" for="headInputUsername">Email address</label>
                                                    <input type="username" name="username" class="form-control" id="headInputUsername" placeholder="Email address" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="sr-only" for="headInputPassword">Password</label>
                                                    <input type="password" name="password" class="form-control" id="headInputPassword" placeholder="Password" required>
                                                </div>
                                                <!--div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Remember me
                                                    </label>
                                                </div-->
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-success btn-block">Sign in
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                                <!--li class="divider"></li>
                                <li>
                                    <input class="btn btn-primary btn-block" type="button" id="sign-in-google"
                                           value="Sign In with Google">
                                    <input class="btn btn-primary btn-block" type="button" id="sign-in-twitter"
                                           value="Sign In with Twitter">
                                </li-->
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </div><!--/.navbar-collapse -->
            </div>
        </nav>

        <div class="container">
            {% block content %}
            {% endblock%}
        </div> <!-- /container -->
        <div class="container">
            <footer>
                <p>&copy; 2016 Code for Chemnitz</p>
            </footer>
        </div> <!-- /container -->
    </body>
</html>
